body {
    background-color: #EEE;
}
.customfont {
    letter-spacing: 0.5pt; !important;
}
.smallfont {
    font-size: 14pt !important;
}
.evensmaller {
    font-size: 10pt !important;
    color: #9b9b9b !important;
}